{% extends "_base.html" %}

{% block css %}
{% load static %}
<style>
    main {
        height: 100%;
        background: url("{% static 'core/images/background-img.jpg' %}") rgba(0, 0, 100, 0.6);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 100, 0.4);
    }
</style>
{% endblock %}

{% block content %}
<main>
    {% include 'partials/navbar_unauth.html' %}
    <div class="container">
        
        <div class="row">
            <div class="col-sm-8">
                <div id="text-container">
                    <h1>
                        Discuss problems <br>with industry experts.<br>Find answers.
                    </h1>
                    <p>
                        Have a question on your mind?<br>
                        Start a conversation with our community.
                    <p>
                </div>
            </div>
            <div class="col-sm-4">
                <form id="auth-form" action="{% url 'core:sign-in' %}" method="post">
                    <div class="p-3" id="heading-container">
                        <h3 class="text-center">Sign In</h3>
                    </div>
                    {% csrf_token %}
                    <div class="d-flex flex-column p-4">
                        <div class="mb-4">
                            <input name="username" type="text" placeholder="Email or Username" required class="form-control" id="email-username"/>
                        </div>
                        <div class="mb-4">
                            <input name="password" type="password" placeholder="Password" required class="form-control" id="password"/>
                        </div>
                        <div class="mb-4">
                            <button class="btn btn-primary rounded-pill w-100">Sign In</button>
                        </div>
                        <div>
                            <p class="form-text">Do not have an account? <a href="{% url 'core:sign-up' %}" class="link-primary">Click Here</a></p>
                        </div>
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }} form-text"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</main>

{% endblock %}

<!-- Image Credit: Photo by fauxels from Pexels -->