body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.form-control {
    box-shadow: none!important;
}

.btn {
    font-weight: bold;
}

#text-container {
    color: white;
    margin-top: 4rem;
}

#text-container h1 {
    font-weight: 800;
}

#text-container p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
}

#auth-form {
    background-color: white;
    margin-top: 4rem;
    width: 25rem;
    /* height: 25rem; */
}

#auth-form #heading-container {
    background-color: #f3f5f9;
}

#auth-form #heading-container h3 {
    font-weight: bold;
}

.messages {
    list-style-type: none;
    padding: 0;
}

.messages .error {
    color: red;
}